@font-face {
  font-family: "iconfont"; /* Project id 3224227 */
  src: url('iconfont.woff2?t=1647825382424') format('woff2'),
       url('iconfont.woff?t=1647825382424') format('woff'),
       url('iconfont.ttf?t=1647825382424') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-jiaogongguanli:before {
  content: "\e62a";
}

.icon-jiatimianban_timu:before {
  content: "\e656";
}

.icon-xiala:before {
  content: "\e617";
}

.icon-xiala1:before {
  content: "\e648";
}

.icon-ziyuan:before {
  content: "\e628";
}

.icon-xuexi:before {
  content: "\e607";
}

.icon-yuncunchu:before {
  content: "\e61c";
}

.icon-zuo:before {
  content: "\e620";
}

.icon-you:before {
  content: "\e621";
}

